<a href="https://colab.research.google.com/github/omelnikov/CASI/blob/main/Student_Mixer_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Author: Oleg Melnikov, Spring 2022

In [ ]:
%reset -f
from IPython.core.interactiveshell import InteractiveShell as IS; IS.ast_node_interactivity = "all" 
import pandas as pd, time, plotly, random, pprint

Past groupings. The number is ðŸ‘¥+group number. Eg. `11` is group `'1ðŸ‘¥ðŸ’ŽA'`

In [ ]:
S = lambda s: s.split()
n2G81 = dict(
Alexander='1A'.split(), 
Alyson   ='1A'.split(), 
Andrew   ='1B'.split(), 
Brandon  ='1B'.split(),
Chris    ='1C'.split(), 
Jonathan ='1C'.split(), 
Josh     ='1D'.split(), 
Liz      ='1D'.split(), 
Nicolas  ='1E'.split(), 
Rachel   ='1E'.split(), 
Stephanie='1F'.split(), 
Syed     ='1F'.split(),
Thomas   ='1G'.split(), 
Trey     ='1G'.split(), 
Umair    ='1H'.split(), 
Xiang    ='1H'.split(), 
Yannis   ='1I'.split(), 
Ashley   ='1I'.split())

In [ ]:
# n2G81 = dict(
# Alexander=[11], Alyson   =[11], Andrew   =[12], Brandon    =[12],
# Chris    =[13], Jonathan =[13], Josh     =[14], Liz        =[14], 
# Nicolas  =[15], Rachel   =[15], Stephanie=[16], Syed       =[16],
# Thomas   =[17], Trey     =[17], Umair    =[18], Xiang      =[18], Yannis=[19], Ashley=[19])

Create previous partnerships per person.

In [ ]:
n2G = n2G81 # name2Groups map
g2N, n2N = {}, {}  # group to Names (in the group), name to Names (of previous partners)
_ = [[g2N.setdefault(g, set()).add(n) for g in G] for n, G in n2G.items()]
_ = [n2N.setdefault(n, sorted(list(zip(*[g2N[g]-{n} for g in G]))[0])) for n, G in n2G.items()] # find old partners
# n2N

For each student X: sample a partner from non-partners. Also, exclude X and already assigned students.

In [ ]:
n2p = []  # name2partner
All = set(n2N.keys())
Assigned = set()
random.seed(0)
for n in All:
  if not n in Assigned:
    p = random.sample(All - set(n2N[n]) - {n} - Assigned, 1)[0]
    Assigned.add(p)
    Assigned.add(n)
    n2p.append([(n, p) ][0])

# pd.DataFrame(n2p, index=list(range(1,len(n2p)+1))).T
pd.DataFrame(n2p, index=list('ABCDEFGHI')).T

        A      B        C      D  ...       F          G         H          I
0  Thomas   Trey   Yannis   Josh  ...  Andrew    Nicolas      Syed     Ashley
1  Alyson  Umair  Brandon  Chris  ...     Liz  Alexander  Jonathan  Stephanie

[2 rows x 9 columns]